﻿body, html {
  
    margin: 0;
      padding: 0;
      
    width: 100vw;
      height: 100vh;
    
    }
    body {
      
    font-family: Roboto;
      font-size: 1.063em;
    color: #424242;
    
    }
    h1, h2, h3, h4, h5 {
  
      margin: 0; 
      }
      
      header, nav, footer, section, article, div {
        
      box-sizing: border-box;
      }
    
    ul {
      
    list-style: none;
      padding: 0;
      
    margin: 0;
    
    }
    .news__more {
  
        float: right;
          font-size: .8em;
          color: #333;
          text-decoration: none;
        
        }
        .header {
          
            box-shadow: 0 0.125em 0.313em rgba(0, 0, 0, 0.26);
            min-height: 3.5em;
             
            }
        .header__inner {
          
        width: 100vw;
          margin-left: auto;
        margin-right: auto;
        }
        
        .header__image {
          height: 4.5em;
          margin-right: 0.625em;
          vertical-align: top;
          margin-top: 0.75em;
        }
        
        .heading {
          font-weight: 300;
          font-size: 2.75em;
          margin: 0.375 0.25em;
          display: inline-block;
          color: #212121;
          
        }
        
      .nav {
          width: 100vw;
          margin-left: auto;
          margin-right: auto;
        }
        .nav__list {
            width: 100vw;
            padding: 0;
            margin: 0;
        }
        
        
        
        .nav__item {
          box-sizing: border-box;
          display: inline-block;
          width: 24vw;
          text-align: center;
          line-height: 1.5em;
          padding: 1.5em;
          text-transform: uppercase;
        }
        .nav a {
            text-decoration: none;
            color: #616161;
            
            
        
        }
        
        
        }  
        main {
          box-shadow: 0 0.125em 0.313em rgba(0, 0, 0, 0.26);
          width: 100vw;
          margin-left: auto;
          margin-right: auto;
        }
        
        .hero {
          width: 100vw;
          position: relative;
          background-image: url("dog.jpg");
          background-size: cover;
          height:50vh;
          z-index: 2;
        
        }
        
        .hero article {
         
          
            box-sizing: border-box;
            background-color:white;
            background-color: rgba(255 255 255);
            position: absolute;
            bottom: 0;
            height: 15vh;
            width: 100vw;
            color: black;
            padding: 1em;
            line-height:1.1em;
            z-index: 7;
          
      }
        
        .top-news {
          max-height: 300px;
         padding: 0.625em;
          width: 100vw;
        }
        
        .news__title {
          font-weight: 300;
          border-bottom: 0.063em solid #E0E0E0;
          line-height: 1.5em;
          font-size: 1em;
          
        }
        
        .top-news__item {
          border-bottom: 0.063em solid #E0E0E0;
          padding:0.625em;
          line-height: 1.2em;
        }
        
        .top-news__item:before {
          content: "» ";
        }
        
         .top-news__item a {
          text-decoration: none;
          color: black;
          padding: 0.938em;
        }
        
      .scores {
          padding-top: 0.938em;
          
        }
        
        .scores__table {
          width: 100vw;
          border-collapse: collapse;
          font-size:0.813em;
        }
        
        .scores__table th,
        .scores__table td {
          padding: 0.625em; 
        }
        
        .scores__table th {
          color: #000;
          font-weight: 300;
          background-color:white;
        }
        
        .scores__table tr:nth-child(odd) td {
          background-color: #fff;
        }
        
        .scores__table tr:nth-child(even) td {
          background-color: #eceff1;
        }
        
        .scores__table td.winner {
          font-weight: bold;
        }
        
        .scores__table td:nth-child(3) {
          text-align: right;
        }
        
        .scores__table td:nth-child(2),
        .scores__table td:nth-child(1),
        .scores__table td:nth-child(5) {
          text-align: center;
        } 
        .weather {
          flex-grow: 1;
          padding: 1em;
        }
        
        .weather__location {
          display: block;
          font-weight: 300;
          font-size: 1.5em;
        }
        
        .weather__desc {
          display: inline-block;
          font-size: 1em;
        }
        
        .weather__today {
          width: 60vw;
          vertical-align: middle;
        }
        
        .weather__today__image {
          vertical-align: middle
        }
        
        .weather__today__temp {
          font-size: 2.8em;
        }
        
        .weather__today__deg {
          font-size: 2em;
          display: inline-block;
        }
        
        .weather__next__item {
          display: inline-block;
          width: 20%;
          text-align: center;
        }
        
        .weather__next__item span {
          display: block;
        }
        
        .weather__next__image {
          width: 100%;
        }
        .snippet {
          clear: both;
          margin: 24px 0;
          display: flex;
          flex-wrap: wrap;
        }
        
        
        .snippet__image {
          float: left;
          margin-right: 0.625em;
          order: 1;
          width: 10vw;
          height: 10vh;
        }
        
        .snippet__title {
          font-weight: 500;
          order: 0;
          width: 100vw;
          
        }
        
        .snippet__title a {
          text-decoration: none;
          color: #666;
          
        padding:10px;
        }
        
        .snippet__description {
          order: 2;
          width: 60vw;
          margin: 0;
        }
    
          
        
        .snippet__title a:active {
          text-decoration: underline;
        }
        
        .snippet__title a {
          text-decoration: none;
          color: #666;
          padding: 0.625em;
        }
        
      footer {
          border-top: 1px solid #E0E0E0;
          padding: 0.625;
          width: 100vw;
          font-size: 0.938;
        }
        
        footer li {
          display: inline-block;
          margin: 0 0.625em;
        }
        
        footer a {
          text-decoration: none;
          color: #333;
          padding: 0.625em;
        }
        
        .content {
          display: flex;
          flex-wrap: wrap;
        }
        
        .header__menu {
          display: none;
        }
        
        .hero, .top-news, .scores, .weather, .recent-news {
          order: 10;
        }
        
        @media screen and (max-width: 549px) {
          .header__logo {
            height: 48vh;
            margin-right: 0.5em;
          }
          .header__title {
            margin-left: 0;
            font-size: 2em;
            vertical-align: bottom; 
          }
          .nav {
            z-index: 10;
            background-color: #fff;
            width: 300;
            position: absolute;
            
            
          }
          .nav.open {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
          }
          .nav__item {
            display: list-item;
            border-bottom: 0.063em solid #E0E0E0;
            width: 100vw;
            text-align: left;
          }
          .header__menu {
            display: inline-block;
            position: absolute;
            right: 0;
            padding: 1em;
          }
          .header__menu svg {
            width: 32vw;
            fill: #E0E0E0;
          }
        }
        
        @media screen and (min-width: 610px) {
          .hero {
            order: 0;
            width: 60vw;
          }
          .weather {
            order: 1;
            width: 40vw;
          }
        }
        
        @media screen and (min-width: 700px) {
          .hero {
            width: 50vw;
          }
          .top-news {
            order: 2;
            width: 100vw;
          }
          .scores {
            order: 3;
            width: 60vw;
          }
          .weather {
            order: 1;
          
          }
        }
        
        @media screen and (min-width: 850px) {
          main, .header__inner, .nav, .content {
            width: 100vw;
            margin-left: auto;
            margin-right: auto;
          }
        }

        
        


